<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/output.css">
    <title>Document</title>
</head>
<style>
    * {
        font-family: "Quicksand", "sans-serif";
    }
</style>

<body>
    <footer class="w-full h-44 bg-slate-700">
        <div class="w-full h-full flex flex-col justify-center items-center">
            <div class="text-white font-bold my-4">
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/uploads">Uploads</a>
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/myFavs">Favourites</a>
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/searchBreeds">Breeds</a>
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/displayId">Ids</a>
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/about">About</a>
                <a class="mt-3 mx-4 hover:text-yellow-600" href="/logout">Logout</a>
            </div>
            <hr class="text-white h-2 w-[80%]">
            <div class="text-white my-1 flex flex-col justify-center items-center">
                <div class="my-1">
                    <a class="mx-3 text-3xl hover:text-blue-500" href="https://www.linkedin.com/in/atulkumar9024"><i class='bx bxl-linkedin-square'></i></a>
                    <a class="mx-3 text-3xl hover:text-blue-500" href="https://x.com/kumaratul2004?t=hOlukDTTlkVcvA5WGQ4EHA&s=09"><i class='bx bxl-twitter'></i></a>
                    <a class="mx-3 text-3xl hover:text-blue-500" href="https://www.akdeoghar16@gmail.com"><i class='bx bxs-envelope'></i></a>
                </div>
                <p class="my-1">Made with ❤️ from India</p>
            </div>
        </div>
    </footer>
</body>

</html>